/* worldmap stykung */
:root {
  --seaColor: #03b0f4;
  --mapDefaultColor: #29f600;
}
#buttonLayout {
  margin: 0;
}
#worldmap .map path {
  fill: var(--mapDefaultColor);
  stroke: #ffffff; /* Black outline to see better */
  margin: 0;
}

.mainMap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1080px;

  /* border: 1px solid#000609; */
  /* Set a fixed aspect ratio for the container */
  /* In this example, the aspect ratio is 900:600 */
}
.tooltip {
  position: relative;
  top: 20%;
  left: 0;
  z-index: 99999;
}

/* Set the SVG element to fill the container */
.mainMap svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  /* top: 0px; */
  right: 0px;
  z-index: 1;
  font-weight: bold;
  background-color: #caf3cc;
  border-radius: 5px;
  width: auto;
  display: inline-block;
  /* max-width: 200; */
}

.displayDate {
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 2;
  font-weight: bold;

  background-color: var(--seaColor);
  width: 100px;
  height: 10px;
}

.buttonLayout button {
  display: inline-block;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: #f7f9f7;
  border: none;
  margin: 1px -1px;
}

/* .buttonLayout #refresh {

} */
body {
  margin: 0;
  padding: 0;
  /* background-image: radial-gradient(circle, #ffffff,lightblue) */
  /* justify-content: center; */

  background: radial-gradient(circle at center, #ffffff, #dff4f6);
}
.mainDisplay {
  max-width: 1080px;
  margin: 0 auto;
}

.selected-line {
  stroke-width: 8;
  outline-color: black;
  outline-width: 3;
}

.textBox {
  width: 500px;
  height: 500px;
  opacity: 100;
  position: absolute;
  top: 0;
  left: 0;
  color: "black";
  background: rgb(24, 162, 79);
}
#lineChart {
  stroke-dasharray: 2 2;
}
.resizer {
  /* resizer triangle */
  border-left: 9px solid transparent;
  border-top: 9px solid transparent;
  border-right: 9px solid rgba(50, 243, 7, 0.4);
  border-bottom: 9px solid rgba(255, 0, 0, 0.4);
  opacity: 1;

  width: 0px;
  height: 0px;
  animation: none;
}

/* enable or disable this for floating window */
#barChart {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70%;
  left: 70%;
  z-index: 9999;
  background: radial-gradient(
    circle,
    rgb(252, 252, 252) -60%,
    rgb(233, 235, 248) 50%
  );
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  max-width: 1000px;
  max-height: 650px;
  overflow: auto;
  /* pan-able */
  cursor: move;

  /* resize able */
  resize: both;
  transform: translate(-50%, -50%) scale(0.5);
}

.tooltipLine {
  font-size: 20px;
  font-weight: bold;

  border: 2px solid black;
  padding: 5px;
}

.seaBG {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.mapTextBox {
  position: relative;
  z-index: 99999;
  opacity: 1;
  background-color: white;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

#clusterChart {
  display: none;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 80%;
  z-index: 9999;
  background: radial-gradient(
    circle,
    rgb(252, 252, 252) -60%,
    rgb(233, 235, 248) 50%
  );
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  max-width: 1000px;
  max-height: 650px;
  overflow: auto;
  /* create container and below make it pan-able */
  cursor: move;

  /* resize able */
  /* resize: both; */
  transform: translate(-50%, -50%) scale(0.5);
}

#countryChart {
  display: none;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 70%;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  max-width: 1000px;
  max-height: 650px;
  overflow: auto;
  /* create container and below make it pan-able */
  cursor: move;

  /* resize able */
  resize: both;
  transform: translate(-50%, -50%) scale(0.5);
}

#clusterInfo {
  display: none;
}

.countryC {
  display: none;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 70%;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  max-width: 1000px;
  max-height: 650px;
  overflow: auto;
  /* create container and below make it pan-able */
  cursor: move;

  /* resize able */
  resize: both;
  transform: translate(-50%, -50%) scale(0.5);
}

.logo {
  width: 50px;
  height: 50px;
  animation: logo 3s infinite linear;
}

@keyframes logo {
  to {
    transform: rotate(360deg);
  }
}

.tooltip {
  z-index: 999;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  80% {
    transform: translateX(5px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-5px);
  }
  40%,
  60% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.chartInfo {
  animation: shake 0.5s;
  display: none;

  position: relative;
  top: 20%;
  left: 0%;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  max-width: 900px;

  overflow: auto;
  border: 1px solid #e7dfdf; /* add a border around the div */
  padding: 10px; /* add padding around the text inside the div */
  background-color: #c1f7b6; /* set a light background color for the div */
  font-family: Arial, sans-serif; /* set a font family for the text */
  font-size: 16px; /* set a font size for the text */
  line-height: 1; /* set a line height for the text */
}

h1 {
  font-size: 48px;
  text-decoration: underline;
  text-decoration-color: rgb(251, 0, 247);
  font-weight: bold;
  color: purple;
  font-family: Arial, sans-serif;
}

#introduction {
  font-size: 18px;
  font-weight: bold;
  color: rgb(28, 3, 255);
  font-family: Arial, sans-serif;
}

#buttonInfo {
  display: none;
  position: relative;
  top: 20%;
  left: 0%;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  padding: 1px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  max-width: 900px;
  overflow: auto;
  border: 1px solid #e7dfdf; /* add a border around the div */
  padding: 10px; /* add padding around the text inside the div */
  background-color: #c1f7b6; /* set a light background color for the div */
  font-family: Arial, sans-serif; /* set a font family for the text */
  font-size: 16px; /* set a font size for the text */
  line-height: 1; /* set a line height for the text */
  /* animation: shake 0.5s; */
}

.shake-animation {
  animation: shake 0.5s;
}
